

.popup {
    position: fixed;
    filter: blur(0px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.5vw;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    color: black;
    width: 20vw;
    height: 10vw;
    background-color: #1DB954;
    top: 20vw;
    left: 40vw;
    z-index: 10;

}


.start-button {    
    border-radius: 0.3vw;
    padding: 0.3vw 2vw;
    opacity: 1;
    box-shadow: 4px 4px 6px 0px rgba(0,0,0,0.75);
    color: white;
    border: solid 1px gray;
    background-color: #f27a1a;
}