.closed-stack {
    position: absolute;
    background-image: url('../../assets/cardback.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 9.6vw;
    width: 6vw;
    border-radius: 10px;
}