.closed-stack {
    position: absolute;
    background-image: url('../../assets/cardback.jpg');
    background-size: contain;
    height: 11vw;
    width: 8vw;
    background-color: red;
    border: solid 1px gray;
    border-radius: 10px;
}