.closed-stack {
    position: absolute;
    background-image: url('../../assets/cardback-min.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 10.6vw;
    width: 6.5vw;
    border-radius: 10px;
}