.uncompleted-holder {
    height: 8.4vw;
    width: 5.6vw;
    margin-left: 1vw ;
    border: solid 0.3vw #618b98;
    border-radius: 10px;
}

.completed-stack {
    height: 9vw;
    width: 6vw;
    margin-left: 1vw ;
    background-image: url(../../assets/AS.png);
    background-size: contain;
    background-repeat: no-repeat;
}