.stack-holder {
    height: 11vw;
    width: 8vw;
    border: solid 1px gray;
    border-radius: 10px;
}

.completed-stack {
    height: 11vw;
    width: 8vw;
    background-image: url(../../assets/cardback.jpg);
    background-size: contain;
    border: solid 1px gray;
    border-radius: 10px;
}