.stack-holder {
    width: 93px;
    height: 123px;
    border: solid 1px gray;
    border-radius: 10px;
}

.completed-stack {
    width: 93px;
    height: 123px;
    background-image: url(../../assets/cardback.jpg);
    background-size: contain;
    border: solid 1px gray;
    border-radius: 10px;
}