.header {
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 30vw;
    background-color: green;
    color: white;
    height: 3vh;
    width: 100vw;
    padding: 0.5vw 1vw;
}

.game-button {
    border-radius: 0.3vw;
    padding: 0.3vw 1vw;
    border: solid 1px gray;
    background-color: lightgray;
}

.counter {
    font-weight: bold;
    color: black;
    font-size: 1vw;
    background-color: lightgray;
    padding: 0.3vw 1.5vw;
    border-radius: 0.3vw;

}