.top-board {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
    padding: 6vh 1vw 1vw 1vw;
}

.stack-holder {
    display: flex;
    margin-right: 3vw;
}

.closed-stacks {
    display: flex;
    position: relative;
    margin-left: 0.5vw;
    width: 25vw;
}