.top-board {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 25%;
    padding: 6vh 1vw 1vw 1vw;
}

.topboard-container {
    display: flex;
}

.closed-stacks {
    width: 25vw;
}