.top-board {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.topboard-container {
    display: flex;
}

.closed-stacks {
    width: 500px;
}