.footer {
    position: fixed;
    bottom: 0;
    background-color: black;
    height: 50px;
    width: 100%;
    padding: 10px;
}

.start-game-button {
    width: 6vw;
    height: 2vw;
    border-radius: 1vw;
    border: solid 1px gray;
    background-color: lightgray;
}